* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
:root {
    --primary-color: #145A8F;
    --secondary-color: #3B96DB;
    --tertiary-color: #D8DB25;
}

  body {
    color: var(--tertiary-color);
    font-family: Trebuchet, Arial, sans-serif;
  }
  
  
  /* HEADER / NAV BAR STYLES START */
  
  header {
    
    background-image: url('../images/header-forest.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    top: 0;
    z-index: 9999;
  }

  header img {
    width: 10%;
    max-height: auto;
    object-fit: cover;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: left;
    list-style: none;
  } 
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
  }

  /* HEADER / NAVBAR STYLES END */
  

  
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }
  

  
  
  /* SECTION TITLE STYLES START */
  .section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  
  .primary-border {
    border-color: var(--primary-color);
  }
  
  .secondary-border {
    border-color: var(--tertiary-color);
  }
  /* SECTION TITLE STYLES END */
  
  /* ABOUT STYLES */

  .about {
    background: var(--primary-color);
    background-image: url('../images/body-trees.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
  }
  
  .about p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  /* ABOUT END */
  
  
  /* PROJECTS STYLES START */
  .projects { 
    display: flex;
    background: var(--primary-color);
    background-image: url('../images/body-trees2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
    flex-direction: column;
    align-items: center;
  }
  
  .project {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 50%;
    height: 50%;
    flex-direction: column;
    display: flex;
    border-bottom: 1px solid var(--tertiary-color);
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  .project-main {
    max-width: 150%;
    max-height: auto;
    align-items: left;
  }

  .project-sub {
    max-width: 100%;
    max-height: auto;
  }
  
  .projects h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
  }
  
  

  
  /* PROJECT STYLES END */

  
  /* CONTACT STYLES START */
  .contact {
    background: var(--secondary-color);
    background: var(--primary-color);
    background-image: url('../images/sidebar-path.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 20px 35px;
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* CONSTAT STYLES END */
  
  /* FOOTER STYLES START */
  footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }
  /* END FOOTER STYLES */

  
  /* UTILITIES */
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%
    }
  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
    
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .about p {
        width: 100%;
    }
    
    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
