* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
:root {
    --primary-color:red;
    --secondary-color: white;
    --tertiary-color:blue;
}

  /* HEADER BAR STYLES START */


  /* HEADER STYLES END */
  /* FOOTER STYLES START */

  /* END FOOTER STYLES */
  /* STYLE ALL SECTION TAGS */
  section {
    padding: 60px;
  }

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
   
  }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
   
}
